.need-help
  :markdown
    Looking for help? [Hashrocket](https://hashrocket.com) has been an industry
    leader in Ruby on Rails since 2008. Rails is a core skill for each
    developer at Hashrocket and we'd love to take a look at your project.
    [Contact us today](https://hashrocket.com/contact-us/hire-us) and find out
    how we can help you.
