# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/config/application.yml
/vendor/bundle
/node_modules
/public/javascripts
/public/application-*.js

coverage
lastest.dump
