= javascript_include_tag 'stats'

%header.page_head
  %h1 Statistics

#statistics
  %section
    %h3="Posts by date (last #{chart_range} days)"
    .chart
      %canvas#my_chart_posts

  %section
    %h3 Tags by posts
    .chart
      %canvas#my_chart_tags

  %section
    %h3 Posts by author
    .chart
      %canvas#my_chart_authors
