.more-info
  :markdown
    Looking for help? [Hashrocket](https://hashrocket.com) has embraced Ember
    because of the conventions of the framework and the quality of the tooling.
    Check out the [Ember Weekend](https://emberweekend.com/episodes) podcast to
    stay up-to-date on the latest Ember news.
