.more-info
  :markdown
    Looking for help? [Hashrocket](https://hashrocket.com) provides [expert
    Ruby on Rails development](https://hashrocket.com/ruby-on-rails). We’ve
    built hundreds of high–quality Ruby on Rails applications over the past
    decade.  [Contact us today](https://hashrocket.com/contact-us/hire-us) and
    find out how we can help you.
