.more-info
  :markdown
    Looking for help? [Hashrocket](https://hashrocket.com) developers believe
    that data quality is as important as code quality. We enjoy all the
    challenges of relational databases, from finding the fastest index, to
    structuring data to fit the needs of an application. We're eager to
    share our experiences; check out [PG Casts](https://www.pgcasts.com), a
    series of free weekly PostgreSQL screencasts.
