.more-info
  :markdown
    Every developer at Hashrocket is a Vim expert. Check out our development environment, [Dotmatrix](https://github.com/hashrocket/dotmatrix), and if you are in Chicago, come to the monthly [Vim Chi Meetup](https://www.meetup.com/Vim-Chicago) hosted at our Chicago office.
