development: &default
  host: 'http://localhost:3000'
  google_client_id:
  google_client_secret:
  slack_post_endpoint:
  update_twitter_with_post: "false"
  twitter_consumer_key:
  twitter_consumer_secret:
  twitter_access_token:
  twitter_access_token_secret:
  heroku_production_app_name:
  permitted_domains: 'hashrocket.com|hshrckt.com'
  default_twitter_handle: 'hashrocket'

test:
  <<: *default
  host: 'http://localhost:3000'
  slack_post_endpoint:
  update_twitter_with_post: "false"
