%section.box
  %article
    .copy
      %h1 Edit Post
    %form
      %dl
        %dt
          %label
            Title
            %span.error can't be blank
        %dd
          %input(type='text' placeholder='Enter title ...')
        %dt
          %label Body
        %dd
          %textarea(placeholder='Enter body ...')
      %dl
        %dt
          %label Tag
        %dd
          %select
            %option Foo
      %fieldset.actions
        %input(type='submit' value='Save Changes')
        = link_to "cancel", "#"
.content_preview= render "post"
