%h3 All Posts

.content
  - posts.each do |p|
    %article
      %strong= p.developer_username
      = '/'
      %strong= p.created_at.strftime('%A, %b %d')
      %br
      = p.body
      %br
      %br
