%section#post_edit
  %header.page_head
    %h1 Create Post
  = render 'form'

  %article.post
    %section
      .post__content.copy
        %h1.title_preview
        .content_preview
        %footer
          %p.word_count
