a
  text-decoration: none
  color: $blue-dark

.post
  +clearfix
  max-width: 82rem
  padding: 0 6vw
  margin: 0 auto 2vw auto
  display: flex
  align-items: flex-start
  +tablet
    padding: 0 3vw
  +mobile
    display: block
  section
    flex: 0 1 auto
    box-sizing: border-box
    padding: 3vw 3vw 0 3vw
    margin-right: 2rem
    +shadow
    h1, h2, h3, p, ul, ol
      margin: 0 0 1em 0
      +mobile
        margin-bottom: .7em
    h1
      font-size: 1.8em
    h2
      font-size: 1.4em
    h3
      font-size: 1.2em
    p, ul, ol
      line-height: 1.6
    ul, ol
      padding: 0 6vw
    ul
      list-style-type: disc
    ol
      list-style-type: decimal
    li + li
      margin-top: .2em
    +mobile
      margin-right: 0
      margin-bottom: 1rem
      font-size: .85em
  footer
    font-style: italic
    color: transparentize($dark, .5)
    font-size: .8em
    text-align: right
    padding: .5vw 0 1vw 0
  aside
    flex: 0 0 auto
    +shadow
    font-size: .9em
    ul
      li
        padding: .4rem
        a
          display: block
          position: relative
          padding: .8rem .5rem
          color: $dark
          border-left: 2px solid $blue-dark
          font-style: italic
          +lang-colors(border-color)
          &:before
            position: absolute
            content: ''
            top: 0
            left: 0
            bottom: 0
            right: 100%
            background: #fff
            +transition(right .1s)
            z-index: -1
          &:hover:before
            right: 0
      li + li
        border-top: 2px solid transparentize($light - #1a1a1a, .5)
    +mobile
      background: none
      box-shadow: none
      ul
        li
          display: inline-block
          +shadow
          margin: 0 .7rem 1rem 0
          + li
            border-top: 0
