html
  font-size: 62.5%

body
  -webkit-text-size-adjust: none
  -webkit-font-smoothing: antialiased
  background: $accent
  color: $dark
  font-family: $primary-typeface
  font-size: 1.6em

header.site_head
  position: fixed
  left: 0
  top: 0
  right: 0
  text-align: center
  padding: 3vw 0
  z-index: -1
  +max
    padding: 5rem 0
  h1
    a
      +shadow-text
      font-size: 7vw
      letter-spacing: 2vw
      margin-left: 2vw
      +max
        font-size: 9rem

nav.site_nav
  position: absolute
  left: 2vh
  top: 0
  li
    display: inline-block
    a
      display: block
      padding: .2rem .5rem
      background: $light
      font-size: .9em
      &:hover
        color: $dark

a.aside_toggle
  +responsive(width, 6rem, 5rem)
  +responsive(height, 6rem, 5rem)
  +responsive(line-height, 6rem, 5rem)
  display: block
  transition: opacity .2s, color .2s

aside.site_statistics
  position: fixed
  +shadow
  +responsive(bottom, 3vw, 2vw)
  +responsive(left, 3vw, 2vw)
  +responsive(margin-left, 7.5rem, 0)
  +responsive(margin-bottom, 0, 6.5rem)
  z-index: 999
  +mobile
    background: $light
  a.aside_toggle
    background: svg-url(stats, $accent-dark) center no-repeat
    +hide-text
    background-size: 60% auto
    opacity: .8
    transition: opacity .2s
    &:hover
      opacity: 1

aside.site_about
  z-index: 1000
  position: fixed
  +responsive(bottom, 3vw, 2vw)
  +responsive(left, 3vw, 2vw)
  a.aside_toggle
    +shadow
    font-size: 2.7em
    text-align: center
    font-family: $secondary-typeface
    font-weight: 700
    color: transparentize($accent-dark, .3)
    +mobile
      background: $light
    &:hover
      color: $accent-dark
  .site_about__content
    display: none
    position: absolute
    left: 0
    bottom: 100%
    margin-bottom: 1.5vw
    +shadow
    padding: 2em
    font-style: italic
    width: 30rem
    background: $light
    font-size: .9em
  &.open
    .site_about__content
      display: block
  ul.social
    li
      width: 50%
      float: left
      box-sizing: border-box
    a.social_twitter,
    a.social_github
      display: block
      padding-left: 3rem
      line-height: 3rem
      background: left center no-repeat
      background-size: 2.5rem auto
    a.social_twitter
      background-image: svg-url(twitter, $accent-dark)
      &:hover
        background-image: svg-url(twitter, #55acee)
    a.social_github
      background-image: svg-url(github, $accent-dark)
      &:hover
        background-image: svg-url(github, #4b4b4b)
  +mobile
    .site_about__content
      width: 28rem

aside.site_search
  z-index: 1000
  +shadow
  position: fixed
  +responsive(bottom, 3vw, 2vw)
  +responsive(right, 3vw, 2vw)
  +mobile
    background: $light
  .search_fields
    max-width: 0
    overflow: hidden
    white-space: nowrap
    transition: max-width .3s
    +responsive(margin-left, 6rem, 5rem)
  input[type='submit']
    +responsive(margin, 1rem 1rem 1rem 0, .5rem .5rem .5rem 0)
  input[type='search']
    +responsive(width, 15rem, 13rem)
    width: 15rem
    background: transparentize($light, .5)
    +responsive(margin, 1rem 0, .5rem 0)
  a.aside_toggle
    text-indent: -9327px
    position: absolute
    left: 0
    bottom: 0
    top: 0
    background: svg-url(search, $accent-dark) center no-repeat
    background-size: 60% auto
    opacity: .7
    &:hover
      opacity: 1
  &.open
    .search_fields
      max-width: 50rem

footer.site_footer
  text-align: center
  clear: both
  font-style: italic
  color: darken($accent-dark, 10%)
  padding: 3rem 0
  margin: 3rem 0
  line-height: 1.6
  margin-bottom: 1rem
  font-size: .8em
  p
    margin: 1rem 0
  .site_footer_social
    a
      display: inline-block
      +hide_text
      width: 5rem
      height: 2.5rem
      opacity: .8
      transition: opacity .2s
      background: center no-repeat
      background-size: auto 100%
      &:hover
        opacity: 1
      &.footer_hashrocket
        background-image: image-url("logo_footer.png")
      &.footer_twitter
        background-image: svg-url(twitter, $accent-dark)
      &.footer_github
        background-image: svg-url(github, $accent-dark)

main
  min-height: 60vh
  margin: 14vw 0 3vw 0
  +max
    margin: 20rem 0 6rem 0

header.page_head
  position: fixed
  z-index: -1
  left: 0
  top: 11vw
  right: 0
  text-align: center
  +shadow-text
  color: mix($accent-dark, $light, 70%)
  font-size: 2vw
  +mobile
    font-size: 1.5rem
  +max
    font-size: 4rem
    top: 16rem

#flash
  position: fixed
  top: 0
  +responsive(left, 15vw, $narrow: 5vw)
  +responsive(right, 15vw, $narrow: 5vw)
  z-index: 1000
  text-align: center
  p
    background: #fff
    border: 5px solid $accent-dark
    border-top: 0
    color: $accent-dark
    padding: 2vw
    +responsive(font-size, 1.4em, 1.2em, 1em)
    cursor: pointer
    opacity: .9
    &.error
      border-color: $error
      color: $error
