= wrapper
  max-width: 82rem
  padding: 0 6vw
  margin: 0 auto 2vw auto
  +tablet
    padding: 0 3vw
  +mobile
    display: block

= shadow
  background-color: transparentize($light, .2)
  box-shadow: -0.8vw 0.8vw 0 0 transparentize($accent-dark, .3)
  +max
    box-shadow: -1rem 1rem 0 0 transparentize($accent-dark, .3)

= shadow-text
  font-family: $secondary-typeface
  color: transparentize($accent-dark, .3)
  text-shadow: -.1rem .1rem 0 lighten($accent, 15%)
  text-transform: uppercase
  letter-spacing: .2vw
  font-weight: 900

= lang-colors($attr)
  @each $lang, $color in $langs
    &.#{$lang}
      #{$attr}: unquote($color)
