= wrapper
  max-width: 82rem
  padding: 0 6vw
  margin: 0 auto 2vw auto
  +tablet
    padding: 0 3vw
  +mobile
    display: block

= box-outline
  background: transparentize(#fff, .3)
  border: .2rem solid transparentize(#fff, .1)

= shadow($shadow: $accent)
  // background-color: mix($shadow, #fff, 15%)
  // box-shadow: -0.8vw 0.8vw 0 0 transparentize($shadow, .5)
  // +max
  //   box-shadow: -1rem 1rem 0 0 transparentize($shadow, .5)

= header-text
  font-family: $secondary-typeface
  text-transform: uppercase
  letter-spacing: .2em
  font-weight: 900

// = lang-colors($attr)
//   @each $lang, $color in $langs
//     &.#{$lang}
//       #{$attr}: unquote($color)
