$primary-typeface: Rosario, "Helvetica Neue", Helvetica, sans-serif;
$secondary-typeface: "Raleway", "Helvetica Neue", Helvetica, sans-serif;

$light: #fcfcf5;
$dark: #24303c;

$callout: #eaab00;
$error: #b00b00;

$red: #d84536;
$accent: #a4deda;
$accent-dark: darken($accent, 30%);

$langs: (
  "assembly": "#6E4C13",
  "bash": "#89e051",
  "clojure": "#db5855",
  "coffeescript": "#244776",
  "css": "#563d7c",
  "elixir": "#701516",
  "go": "#375eab",
  "html": "#e44b23",
  "javascript": "#f1e05a",
  "ruby": "#701516",
  "vim": "#199f4b",
  "emberjs": "#e1563f"
);
