$background-color: #eee
$dark-text:        #000
$light-text:       #eee

$assembly:         #6E4C13
$bash:             #89e051
$clojure:          #db5855
$coffeescript:     #244776
$css:              #563d7c
$go:               #375eab
$html:             #e44b23
$javascript:       #f1e05a
$ruby:             #701516
$vim:              #199f4b

// Functions
@function responsive-color($hex)
  @if lightness($hex) > 50%
    @return $dark-text
  @else
    @return $light-text

// Normalization
ul
  list-style: none
ul, li
  margin: 0
  padding: 0

a
  text-decoration: initial
  color: black

// Application
body
  background-color: $background-color

main
  width: 900px
  margin: 0 auto
  padding-top: 10px

header
  h1
    color: black
    margin: 0 auto
    width: 300px
  ul
    float: right
    margin-top: -20px
  li
    display: inline
    background-color: #d3d3d3
    padding: 3px

section.content
  .post_group
    header
      font-style: italic
      padding: 15px
    .post
      background-color: white
      padding: 10px
      padding-bottom: 20px
      border-bottom: 1px solid
      .title
        font-weight: bold
      iframe
        float: right
        margin-right: -20px
      .tag
        padding: 2px
        display: inline
        background-color: #cccccc + #ff0000
        @debug $background-color

        &.assembly
          background-color: $assembly
          a
            color: responsive-color($assembly)
        &.bash
          background-color: $bash
          a
            color: responsive-color($bash)
        &.clojure
          background-color: $clojure
          a
            color: responsive-color($clojure)
        &.coffeescript
          background-color: $coffeescript
          a
            color: responsive-color($coffeescript)
        &.css
          background-color: $css
          a
            color: responsive-color($css)
        &.go
          background-color: $go
          a
            color: responsive-color($go)
        &.html
          background-color: $html
          a
            color: responsive-color($html)
        &.javascript, &.emberjs, &.reactjs
          background-color: $javascript
          a
            color: responsive-color($javascript)
        &.ruby, &.rails
          background-color: $ruby
          a
            color: responsive-color($ruby)
        &.vim
          background-color: $vim
          a
            color: responsive-color($vim)

  .actions
    span
      padding-right: 5px

  .word_count
    float: right
footer
  p
    margin: 0 auto
    width: 200px
    padding: 15px
